<div class="container-fluid panel">
    <div class="row justify-content-center panel-row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3>{{include.documentation.panel-title}}</h3>
        <p>{{include.documentation.panel-description}}</p>
      </div>
    </div>

  <div class="row justify-content-center panel-row">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row">
        {% for doc in include.documentation.docs %}

        <div class="col-12 col-md-4">
          <a class="destyled" href="{{site.baseurl}}/{{doc.link}}">
            <div class="card">
              <img class="card-img-top feature-logo" src="{{site.baseurl}}/static/assets/guides/{{doc.image}}" alt="{{doc.title}}">
              <div class="card-body">
                <h5 class="card-title">{{doc.title}}</h5>
                <p class="card-text">{{doc.text}}</p>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
