<div class="container-fluid panel">
    <div class="row justify-content-center panel-row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="panel-title">{{include.features.panel-title}}</h3>
        <p class="panel-description">{{include.features.panel-description}}</p>
      </div>
    </div>

  <div class="row justify-content-center panel-row">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row">
        {% for feature in include.features.features %}

        <div class="col-12 col-md-4">
            <div class="card card-no-border">
              <img class="card-img-top feature-logo" src="{{site.baseurl}}/static/assets/logos/{{feature.logo}}" alt="{{feature.title}}">
              <div class="card-body">
                <h5 class="card-title card-title-feature">{{feature.title}}</h5>
                <p class="card-text card-text-feature">{{feature.text}}</p>
              </div>
            </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
