<footer>
  <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <div class="row">
            <div class="col-12 col-md-6">
              <img class="img-fluid" src="{{site.baseurl}}/static/assets/logos/CUSP_white_transparent.png">
            </div>
            <div class="col-12 col-md-6">
              Center for Urban Science + Progress<br>
              370 Jay Street, 12th Floor<br>
              Brooklyn, NY 11201
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>
